<!DOCTYPE html>
<html>
<head>
  <title>To Do List</title>
  <body>
    <h1>My todo</h1>
    <div>
      <form method="post" action="/signup">
        <input type="text" name="emailId" placeholder="email" required/>
          <input type="text" name="password" placeholder="password" required/>
          <input type="text" name="group" placeholder="group" required/>
        <button type="submit">Add item</button>
        </form>
        </div>
    </body>
  </head>
</html>
